<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/searchBooks.css">
</head>
<body>
    <div class="container">
        <button onclick="window.location.href='/adminHome'">Back</button>
        <h1>Books</h1>
        <table>
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th>Language</th>
                    <th>Number of copies</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(function(book, idx) { %>
                    <tr>
                        <td><%= book.ISBN %></td>
                        <td><%= book.Title %></td>
                        <td><%= book.Author %></td>
                        <td><%= book.Year %></td>
                        <td><%= book.Genre %></td>
                        <td><%= book.Language %></td>
                        <td><%= book.Number_of_copies %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
